.videos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.grid_container {
    padding-top: 20px;
    display: flex;
    justify-content: center;
    width: 80%;
    max-width: 900px;
    flex-direction: column;
    align-items: center;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    gap: 5px;
}

@media screen and (max-width: 1200px) {
    .grid {
        grid-template-columns: repeat(3, 1fr);
    }

}

@media screen and (max-width: 900px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
    }

}

@media screen and (max-width: 600px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
    }

}


.video_item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    padding-top: 20px;
    margin-bottom: 20px;
}

.button button {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    background-color: #FEC23E;
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    height: 40px;
    line-height: 20px;
    list-style: none;
    margin: 0;
    outline: none;
    padding: 10px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: color 100ms;
    vertical-align: baseline;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}