.BigTextContainer{
    width: 100%;
    border-style: solid;
    height: fit-content;
    grid-area: 2 / 1 / 3 / 2;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}

.BigTextImage{
    border-style: solid;
    width: 60%;
}