.GalleryBoxContainer{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    margin-top: 70px;
}

.GalleryImageContainer{
    width: 30%;
    display: flex;
    align-items: center;
    margin: 10px;
    min-width: 170px;
}