@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

.content-wrapped{
    width: 100%;
    padding-left: 50px;
    display: flex;
    align-items: center;
}

.content-wrapped-left-float{
    width: 100%;
    padding-right: 50px;
    display: flex;
    justify-content: end;
    background-color: #FFD47A;
    align-items: center;

}

.Box{
    width: 100%;
    display: flex;
}

.ServiceImage{
    width: 10%;
    min-width: 100px;
    margin: 50px 0 50px 0;
}

.BoxName p{
    color: black;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-weight: 500;
    font-size: 25px;
    margin: 50px;
}